<% provide(:title, 'groups') %>

<%= render 'shared/dashboard', locals: {itemizable: @groups, linkable: true } %>
<%= link_to new_group_path, class: 'new-item-link', id: 'new-item-link' do %>
  <span>ADD GROUP</span>
<%  end %>

<%= javascript_pack_tag "groups" %>