<% if user_signed_in? %>
  <nav class="menu popable">
    <ul>
      <li><%= current_user.name %></li>
      <li><%= link_to  'Logout', destroy_user_session_path, method: :delete %></li>
    </ul>
  </nav>
<% end %>