<div class="flash-container" id="flash-container">
  <div class="flash notice" id="flash-notice"><%= notice %></div>
  <div class="flash alert" id="flash-alert"><%= alert %></div>
  <div class="flash sucess" id="flash-sucess"><%= flash[:sucess] %></div>
  <div class="flash error" id="flash-error"><%= flash[:error] %></div>
</div>