$main-color : #3778c2;
$secondary-color : #5fb523;
$main-background-color: #F1F3F2;
$error-color: #E12B20;
$text-color-bolder : #434b54;
$text-color-bold: #555E67;
$text-color-normal: #878A8F;
$text-color-light: #989DA3;
$menu-gradient: linear-gradient(35deg, rgb(46, 125, 184) 0%, rgb(48, 130, 190) 12.5%, rgb(41, 116, 173) 25%, rgb(23, 64, 110) 75%, rgb(18, 51, 92) 100%);;

* {
  /*border: 1px solid red;*/
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  height: 100%;
  width: 100%;
}

body {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;

}

a {
  display: block;
}

.main {
  background-color: $main-background-color;
  height: 100%;
  left: 0;
  position: fixed;
  transition: top 0.5s, left 0.5s, height 0.5s;
  top: 10%;
  width: 100%;
  z-index: 1000;
}

.main-phased {
  height: 70%;
  top: 15%;
  left: 80%;
}

.form-error {
  -webkit-box-shadow: 0px 0px 3px 3px rgba(194,84,84,1);
  -moz-box-shadow: 0px 0px 3px 3px rgba(194,84,84,1);
  box-shadow: 0px 0px 3px 3px rgba(194,84,84,1);
}

.user-avatar {
  border-radius: 50%;
  height: auto;
  width: 50px;
}

.status-bar {
  align-items: center;
  background-color: $main-color;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 950;
}

.group-avatar {
  border-radius: 50%;
  height: auto;
  width: 25px;
}

.menu-container {
  background-color: $main-color;
  background-image: $menu-gradient;
  height: 100%;
  position: fixed;
  padding-top: 10vh;
  top: 0;
  width: 100%;
  z-index: 900;
}

.menu-popper {
  position: relative;
  z-index: 1000;
}

.flash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 30%;
  top: 0;
  width: 40%;
  height: 10%;
  z-index: 1100;
  div {
    align-items: center;
    border: solid 1px white;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    height: 80%;
    width: 80%;
  }
}

.flash-success {
  background-color: $secondary-color;
}

.flash-error {
  background-color: $error-color;
}